{% if page.keywords %}
  {% assign keywords = page.keywords %}
{% else %}
  {% assign keywords = 'Mark Perry, tags, machine tags, semantic tags, rails, ruby, github, tagging, outline, tree' %}
{% endif %}
{% capture description %}{% if page.description %}{{page.description}}{% else %}Software Matters! - {{page.title }} - Thoughts on the discipline of software engineering {% endif %}{% endcapture %}
<meta name="keywords" content="{{keywords | xml_escape| truncate: 160}}" />
<meta name="description" content="{{description | strip_html | xml_escape| truncate: 200}}" />